In [46]:
import pandas as pd
import warnings

In [42]:
## Load and read the given dataset
warnings.simplefilter('ignore')
data=pd.read_excel("D:\\Online retail.xlsx")

In [44]:
data

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

In [16]:
data.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [18]:
# Handling Missing Values.
data.dropna(inplace=True)

In [20]:
data.head(10)

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt
5                     whole wheat pasta,french fries
6                           soup,light cream,shallot
7              frozen vegetables,spaghetti,green tea
8                                       french fries
9                                      eggs,pet food

In [22]:
# Removing Duplicate Rows
data.drop_duplicates(inplace=True)

In [24]:
data.head(20)

   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                              burgers,meatballs,eggs
1                                             chutney
2                                      turkey,avocado
3   mineral water,milk,energy bar,whole wheat rice...
4                                      low fat yogurt
5                      whole wheat pasta,french fries
6                            soup,light cream,shallot
7               frozen vegetables,spaghetti,green tea
8                                        french fries
9                                       eggs,pet food
10                                            cookies
11      turkey,burgers,mineral water,eggs,cooking oil
12                        spaghetti,champagne,cookies
13                               mineral water,salmon
14                                      mineral water
15  shrimp,chocolate,chicken,honey,oil,cooking oil...
16                                        turkey,eggs
17  turkey,fresh tuna,tomatoes,spaghetti,mineral w...
18      meatballs,milk,honey,french fries,protein bar
19  red wine,shrimp,pasta,pepper,eggs,chocolate,sh...

In [52]:
#Converting the Data into Appropriate format
data.columns=['Items']

In [58]:
# Splitting the Items into Lists.
trans=data['Items'].str.split(',').apply(lambda x:[item.strip() for item in x if item])

In [70]:
# Converting to One-Hot Encoding format.
from mlxtend.preprocessing import TransactionEncoder
Te=TransactionEncoder()
data_Te=Te.fit(trans).transform(trans)
df=pd.DataFrame(data_Te,columns=Te.columns_)

In [72]:
data.head(20)

                                                Items
0                              burgers,meatballs,eggs
1                                             chutney
2                                      turkey,avocado
3   mineral water,milk,energy bar,whole wheat rice...
4                                      low fat yogurt
5                      whole wheat pasta,french fries
6                            soup,light cream,shallot
7               frozen vegetables,spaghetti,green tea
8                                        french fries
9                                       eggs,pet food
10                                            cookies
11      turkey,burgers,mineral water,eggs,cooking oil
12                        spaghetti,champagne,cookies
13                               mineral water,salmon
14                                      mineral water
15  shrimp,chocolate,chicken,honey,oil,cooking oil...
16                                        turkey,eggs
17  turkey,fresh tuna,tomatoes,spaghetti,mineral w...
18      meatballs,milk,honey,french fries,protein bar
19  red wine,shrimp,pasta,pepper,eggs,chocolate,sh...

In [74]:
df.head(10)

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [76]:
#Association Rule Mining
# Import required libraries
from mlxtend.frequent_patterns import apriori,association_rules

In [78]:
# Applying Apriori algorith to find frequent itemsets.
freq_itemsets=apriori(df,min_support=0.01,use_colnames=True)

In [80]:
freq_itemsets.head(10)

    support          itemsets
0  0.020267         (almonds)
1  0.033200         (avocado)
2  0.010800  (barbecue sauce)
3  0.014267       (black tea)
4  0.011467      (body spray)
5  0.033733        (brownies)
6  0.087200         (burgers)
7  0.030133          (butter)
8  0.081067            (cake)
9  0.015333         (carrots)

In [82]:
# Generation of Association Rules.
rules=association_rules(freq_itemsets,metric="confidence",min_threshold=0.2)

In [84]:
# Filtering rules Based on Metrics.
rules=rules[rules['lift']>1.0]
rules[['antecedents','consequents','support','confidence','lift']]

,antecedents,consequents,support,confidence,lift
0,(avocado),(mineral water),0.011467,0.345382,1.449559
1,(burgers),(eggs),0.028800,0.330275,1.837585
2,(burgers),(french fries),0.022000,0.252294,1.475976
3,(burgers),(green tea),0.017467,0.200306,1.517468
4,(burgers),(milk),0.017867,0.204893,1.580964
...,...,...,...,...,...
157,"(mineral water, milk)",(spaghetti),0.015733,0.327778,1.882338
158,"(spaghetti, olive oil)",(mineral water),0.010267,0.447674,1.878880
159,"(mineral water, olive oil)",(spaghetti),0.010267,0.373786,2.146553
160,"(spaghetti, pancakes)",(mineral water),0.011467,0.455026,1.909736
161,"(pancakes, mineral water)",(spaghetti),0.011467,0.339921,1.952073

In [86]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(avocado),(mineral water),0.033200,0.238267,0.011467,0.345382,1.449559,1.0,0.003556,1.163629,0.320785,0.044103,0.140620,0.196753
1,(burgers),(eggs),0.087200,0.179733,0.028800,0.330275,1.837585,1.0,0.013127,1.224782,0.499351,0.120941,0.183528,0.245256
2,(burgers),(french fries),0.087200,0.170933,0.022000,0.252294,1.475976,1.0,0.007095,1.108813,0.353289,0.093168,0.098135,0.190499
3,(burgers),(green tea),0.087200,0.132000,0.017467,0.200306,1.517468,1.0,0.005956,1.085415,0.373584,0.086583,0.078693,0.166315
4,(burgers),(milk),0.087200,0.129600,0.017867,0.204893,1.580964,1.0,0.006566,1.094695,0.402580,0.089812,0.086504,0.171377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,"(mineral water, milk)",(spaghetti),0.048000,0.174133,0.015733,0.327778,1.882338,1.0,0.007375,1.228562,0.492380,0.076227,0.186040,0.209065
158,"(spaghetti, olive oil)",(mineral water),0.022933,0.238267,0.010267,0.447674,1.878880,1.0,0.004802,1.379138,0.478747,0.040914,0.274910,0.245382
159,"(mineral water, olive oil)",(spaghetti),0.027467,0.174133,0.010267,0.373786,2.146553,1.0,0.005484,1.318826,0.549222,0.053659,0.241750,0.216373
160,"(spaghetti, pancakes)",(mineral water),0.025200,0.238267,0.011467,0.455026,1.909736,1.0,0.005462,1.397744,0.488682,0.045503,0.284561,0.251576
161,"(pancakes, mineral water)",(spaghetti),0.033733,0.174133,0.011467,0.339921,1.952073,1.0,0.005593,1.251163,0.504751,0.058384,0.200744,0.202885

In [88]:
rules_sort=rules.sort_values(by='lift',ascending=False)
rules_sort[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head()

,antecedents,consequents,support,confidence,lift
75,(herb & pepper),(ground beef),0.016000,0.323450,3.291555
152,"(spaghetti, mineral water)",(ground beef),0.017067,0.285714,2.907540
69,(tomatoes),(frozen vegetables),0.016133,0.235867,2.474134
67,(shrimp),(frozen vegetables),0.016667,0.233645,2.450820
144,"(mineral water, milk)",(frozen vegetables),0.011067,0.230556,2.418415

In [90]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(avocado),(mineral water),0.033200,0.238267,0.011467,0.345382,1.449559,1.0,0.003556,1.163629,0.320785,0.044103,0.140620,0.196753
1,(burgers),(eggs),0.087200,0.179733,0.028800,0.330275,1.837585,1.0,0.013127,1.224782,0.499351,0.120941,0.183528,0.245256
2,(burgers),(french fries),0.087200,0.170933,0.022000,0.252294,1.475976,1.0,0.007095,1.108813,0.353289,0.093168,0.098135,0.190499
3,(burgers),(green tea),0.087200,0.132000,0.017467,0.200306,1.517468,1.0,0.005956,1.085415,0.373584,0.086583,0.078693,0.166315
4,(burgers),(milk),0.087200,0.129600,0.017867,0.204893,1.580964,1.0,0.006566,1.094695,0.402580,0.089812,0.086504,0.171377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,"(mineral water, milk)",(spaghetti),0.048000,0.174133,0.015733,0.327778,1.882338,1.0,0.007375,1.228562,0.492380,0.076227,0.186040,0.209065
158,"(spaghetti, olive oil)",(mineral water),0.022933,0.238267,0.010267,0.447674,1.878880,1.0,0.004802,1.379138,0.478747,0.040914,0.274910,0.245382
159,"(mineral water, olive oil)",(spaghetti),0.027467,0.174133,0.010267,0.373786,2.146553,1.0,0.005484,1.318826,0.549222,0.053659,0.241750,0.216373
160,"(spaghetti, pancakes)",(mineral water),0.025200,0.238267,0.011467,0.455026,1.909736,1.0,0.005462,1.397744,0.488682,0.045503,0.284561,0.251576
161,"(pancakes, mineral water)",(spaghetti),0.033733,0.174133,0.011467,0.339921,1.952073,1.0,0.005593,1.251163,0.504751,0.058384,0.200744,0.202885

In [92]:
#Analysis and Interpretation
print(rules_sort.head(10))

                            antecedents          consequents  \
75                      (herb & pepper)        (ground beef)
152          (spaghetti, mineral water)        (ground beef)
69                           (tomatoes)  (frozen vegetables)
67                             (shrimp)  (frozen vegetables)
144               (mineral water, milk)  (frozen vegetables)
154        (ground beef, mineral water)          (spaghetti)
143  (frozen vegetables, mineral water)               (milk)
151               (mineral water, milk)        (ground beef)
90                               (soup)               (milk)
79                          (spaghetti)        (ground beef)

     antecedent support  consequent support   support  confidence      lift  \
75             0.049467            0.098267  0.016000    0.323450  3.291555
152            0.059733            0.098267  0.017067    0.285714  2.907540
69             0.068400            0.095333  0.016133    0.235867  2.474134
67             0.071333            0.095333  0.016667    0.233645  2.450820
144            0.048000            0.095333  0.011067    0.230556  2.418415
154            0.040933            0.174133  0.017067    0.416938  2.394361
143            0.035733            0.129600  0.011067    0.309701  2.389672
151            0.048000            0.098267  0.011067    0.230556  2.346223
90             0.050533            0.129600  0.015200    0.300792  2.320923
79             0.174133            0.098267  0.039200    0.225115  2.290857

     representativity  leverage  conviction  zhangs_metric   jaccard  \
75                1.0  0.011139    1.332841       0.732423  0.121457
152               1.0  0.011197    1.262427       0.697745  0.121097
69                1.0  0.009613    1.183913       0.639564  0.109304
67                1.0  0.009866    1.180480       0.637444  0.111111
144               1.0  0.006491    1.175740       0.616078  0.083669
154               1.0  0.009939    1.416431       0.607207  0.086195
143               1.0  0.006436    1.260904       0.603083  0.071737
151               1.0  0.006350    1.171928       0.602713  0.081854
90                1.0  0.008651    1.244836       0.599428  0.092158
79                1.0  0.022088    1.163699       0.682292  0.168096

     certainty  kulczynski
75    0.249723    0.243136
152   0.207875    0.229696
69    0.155344    0.202549
67    0.152887    0.204235
144   0.149472    0.173320
154   0.294000    0.257474
143   0.206918    0.197546
151   0.146705    0.171587
90    0.196681    0.209038
79    0.140672    0.312015

**Interview Questions:**

What is lift and why is it important in Association rules?

What is support and Confidence. How do you calculate them?

What are some limitations or challenges of Association rules mining?

**1.What is lift and why is it important in Association rules?**
Lift is a measure that helps you understand how much more likely two items are to appear together compared to if they were independent. It tells you if there's a meaningful relationship between two items or events beyond random chance.

Lift indicates how much more likely one item is found with another than by pure chance. A lift greater than 1 shows a positive association (the items often appear together), while a lift less than 1 suggests a negative association (they rarely appear together). A lift of exactly 1 implies no relationship.

**2.What is support and Confidence. How do you calculate them?**
Support measures how frequently an item or a combination of items appears in the dataset. It’s a measure of the general frequency of occurrence, which helps in identifying common itemsets.

Formula: Support(𝐴→𝐵)=Transactions containing 𝐴 and 𝐵/Total transactions​

Confidence is a measure of how often items in an association rule are found together. Specifically, it measures the likelihood of finding item B in a transaction if item A is already present.

Formula: Confidence(𝐴→𝐵)=Transactions containing 𝐴 and 𝐵/Transactions containing 𝐴

**3.What are some limitations or challenges of Association rules mining?**
Scalability: With large datasets, the number of possible item combinations can be enormous, leading to high computational costs.

Threshold Selection: Setting support and confidence thresholds is tricky. Too low, and you get an overwhelming number of rules; too high, and you might miss potentially useful associations.

Relevancy: Not all discovered rules are useful or interesting; filtering out trivial or irrelevant rules can be challenging.